@using FastLogWeb.Core.Model;
@inject IFastLog log;
<div class="pull-right" style="margin-top:-25px;">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="active">
                <span>共@(QueryModel.PageResult.Page.TotalRecord)条</span>
                <span>共@(QueryModel.PageResult.Page.TotalPage)页</span>
            </li>
            <li @onclick="()=>QueryPageId(1)"><a href="#" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>
            <li @onclick="QueryPre"><a href="#" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
            @foreach (var item in QueryModel.ListPage)
            {
                <li class="@(QueryModel.PageId ==item?"active":string.Empty)" onclick="PageNum(this)"><a href="#" @onclick="()=>QueryPageId(item)">@item</a></li>
            }
            <li @onclick="QueryNext"><a href="#" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
            <li @onclick="QueryLast"><a href="#" aria-label="Previous"><span aria-hidden="true">末页</span></a></li>
        </ul>
    </nav>
</div>

@code {
    [Parameter]
    public QueryModel QueryModel { get; set; } = new QueryModel();

    [Parameter]
    public EventCallback<QueryModel> QueryModelChanged { get; set; }

    private void QueryNext()
    {
        if (QueryModel.PageId >= QueryModel.PageResult.Page.TotalPage)
            return;
        QueryModel.PageId++;

        QueryModel.PageResult = log.Page(GetLogModel, QueryModel.PageId, QueryModel.PageSize, true).PageResult;
        QueryModelChanged.InvokeAsync(QueryModel);
    }

    private void QueryPageId(int i)
    {
        QueryModel.PageId = i;
        if (QueryModel.PageId < 1)
            QueryModel.PageId = 1;
        if (QueryModel.PageId > QueryModel.PageResult.Page.TotalPage)
            QueryModel.PageId = QueryModel.PageResult.Page.TotalPage;
        Init();
    }

    private void QueryPre()
    {
        if (QueryModel.PageId <= 1)
            return;
        QueryModel.PageId--;
        if (QueryModel.PageId < 1)
            QueryModel.PageId = 1;
        Init();
    }

    private void QueryLast()
    {
        QueryModel.PageId = QueryModel.PageResult.Page.TotalPage;
        Init();
    }

    private void Init()
    {
        QueryModel.PageResult = log.Page(GetLogModel, QueryModel.PageId, QueryModel.PageSize, true).PageResult;
        QueryModelChanged.InvokeAsync(QueryModel);
    }

    private LogModel GetLogModel
    {
        get
        {
            var logModel = new LogModel();
            logModel.Type = QueryModel.Type;
            logModel.content = QueryModel.Content;
            logModel.title = QueryModel.Title;
            logModel.person = QueryModel.Person;
            logModel.dateTime = QueryModel.DateTime;
            return logModel;
        }
    }
}